@{
  Layout = "_Layout";
}

<div class="container">
  <h3>Create a New Vendor</h3>
  <form action="/vendors/create" method="post">
    <label for="vendorName">Vendor Name</label>
    <input name="vendorName" id="vendorName" type="text" required>
    <button type="submit">Add vendor</button>
  </form>
  <a href="/">Go Back to Main</a>
</div>
