@{
  Layout = "_Layout";
}
@using VendorOrderTracker.Models;

<div class="container">
  <h5>Vendor @Model.Name</h5>
  @{
    List<Order> orders = Model.GetAllOrders();
    if (orders.Count > 0)
    {
      <h6>Orders: </h6>
      <ul>
        @foreach (Order order in orders)
        {
          <li><a href="/vendors/@Model.Id/orders/@order.Id">@order.Title</a></li>
        }
      </ul>
    }
    else
    {
      <p>@Model.Name does not have any orders.</p>
    }
  }
  <div>
    <form action="/vendors/@Model.Id/orders/new" method="get">
      <button>Create an order</button>
    </form>
  </div>
  @if (orders.Count > 0)
  {
    <div>
      <form action="/vendors/@Model.Id/orders/all" method="post">
        <input id="removeAllOrders" name="removeAllOrders" type="hidden" value="true">
        <button type="submit">Remove all orders</button>
      </form>
    </div>
  }
  <div>
    <form action="/vendors/@Model.Id" method="post">
      <button type="submit">Remove Vendor</button>
    </form>
  </div>
</div>
