@{
  Layout = "_Layout";
}

<div class="container">
  <div>
    <h3>Create a New Order</h3>
    <form action="/vendors/@Model.Id" method="post">
      <label for="title">Order Title</label>
      <input name="title" id="title" type="text" required>
      <label for="desc">Order Description</label>
      <input name="desc" id="desc" type="text" required>
      <label for="price">Order Price</label>
      <input name="price" id="price" type="number" required>
      <label>Order Date</label>
      <label for="year">Year</label>
      <input name="year" id="year" type="number" required>
      <label for="month">Month</label>
      <input name="month" id="month" type="number" required>
      <label for="day">Day</label>
      <input name="day" id="day" type="number" required>
      <button type="submit">Add Order</button>
    </form>
  </div>

  <div>
    <a href="../">Go Back to Main</a>
  </div>
</div>
