@{
  Layout = "_Layout";
}

<div class="container">
  <div>
    <h3>Create a New Order</h3>
    <form action="/vendors/@Model.Id/orders" method="post">
      <label for="title">Order Title</label>
      <input name="title" id="title" type="text" required>
      <label for="desc">Order Description</label>
      <input name="desc" id="desc" type="text" required>
      <label for="price">Order Price</label>
      <input name="price" id="price" type="number" required>
      <label for="date">Order Date</label>
      <input name="date" id="date" type="date" required>
      <button type="submit">Add Order</button>
    </form>
  </div>
</div>
